
footer{
    color: grey;
    position: relative;
    font-family: 'Poppins', sans-serif;
    padding-top: 650px;
}

footer p#contactoFooter{
    text-align: center;
    font-size: 13px;
}

footer p#copyright{
    text-align: center;
    font-size: 12px;

}